body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #ddd;
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
}

footer {
    background: #333;
    color: white;
    padding: 10px;
}
